.bigafy {
  height: 100%;
  width: 100%;
}
.brokenHeader {
  padding: 100px;
}
.moveSideToSide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.oneAboveTheOther {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
