.sides {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
.topbotom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.upanddown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leftandright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.enlarge {
  padding: 100px;
}
.pop {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.smallpfp {
  border-radius: 75%;
}
.putmewhereineedtobe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spacethosethings {
  padding: 10px;
}
