.sides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topbotom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tinyboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fromthebottothetop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.upanddown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leftandright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.enlarge {
  padding: 100px;
}
