.worstHeader {
  padding: 100px;
}
.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.goToTheCetner{
  display: flex;
  justify-content: center;
  align-items: center;
}