.lotsOfPads {
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrongpass{
  display: flex;
  flex-direction: row;
  max-width: 200px;
}
.flexTheFields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}