.thatfuckingheader {
  padding: 100px;
}
.makeitfitthecenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.makeitlookbetter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.organizedcards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
