.ThatFuckingHeader {
  padding: 100px;
}
.makeItFitTheCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.makeItLookBetter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.organizedCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
