.iCantSee {
  padding: 100px;
}
.dropItToTheSide {
  display: flex;
  flex-direction: row;
}
.beautifulName {
  min-width: 15%;
  display: flex;
  justify-content: space-between;
}
.namesOfImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
