.upAndDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sideToSide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fixIt {
  padding: 100px;
}
span{
  margin: 10px;
}