.theHeaderIsSoDiff {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sizeBio {
  resize: vertical;
}
.fixMyBio {
  display: flex;
  flex-direction: column;
}
.dosomthingelse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.makeItWhite {
  color: black;
}
.takeItToTheCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.moveTheButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
