.upanddown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidetoside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fixit {
  padding: 100px;
}
