.centersize {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#720000, black);
  color: white;
}
.sticker {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.moveAbit {
  padding: 5px;
}
.stupid {
  border-radius: 75%;
}
* {
  text-decoration: none;
}
.pleaseBeWhite {
  color: white;
}
